<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.isomorphisms.smsreader">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:allowBackup="false"
        android:hasCode="true"
        android:label="Idric SMS Reader">
        <activity
            android:name=".SmsReaderActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
